{% load static %}
{%include 'navbar.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTICIAS</title>
    
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">
    
</head>
    <body>
            {% if noticias %}
            <form action="{% url 'apps.noticias:list' %}" class="d-flex" role="search" method="get">
                <input class="form-control me-2" style="height: 25%; width: 95%; margin-top: 8%;" type="search"
                    placeholder="Buscar Noticia" aria-label="Search" name="buscador">
                <button class="btn-primary" style="height: 25%; margin-top: 2.5%;" type="submit">Buscar</button>
            </form>


            <form method="GET" action="{% url 'apps.noticias:list' %}">
                {% for categoria in categorias %}
                
                    <button class="btn-primary" name="categoria_id" type="submit" value="{{ categoria.id }}">
                        {{ categoria.nombre }}
                    </button>
                {% endfor %}
               
            </form>


            <form method="GET" action="{% url 'apps.noticias:list' %}">
                <button class="btn-primary" name="orden" type="submit" value="fecha">Ordenar por
                    fecha</button>
                <button class="btn-primary" name="orden" type="submit" value="titulo">Ordenar por
                    título</button>
            </form>


            {% endif %}

            


           
            <div class="container__card3">
                {% for n in noticias %}
                    <div class="card3">
                        <div class="cover__card">
                            {% if n.imagen %}
                            <img src="{{n.imagen.url}}"  alt="{{n.titulo}}">
                            {% endif %}
                        </div>
                        <h1>{{n.titulo}}</h1>
                        <h2>{{n.descripcion}}</h2>
                        <p>{{n.published}}</p>
                        <p>Categoria:{{n.categoria}} </p>
                        <p>Autor: {{n.autor}}</p>
                        <a href="{% url 'apps.noticias:detail' n.id %}">DETALLE</a>
                        
                        <hr>
                        {% if user.es_colaborador %}
                        <div class="footer__card">
                            <h3 class="user__name"> <a href="{% url 'apps.noticias:delete_notice' n.id %}" class="eliminar-link">Eliminar Noticia</a></h3>
                            <i><a href="{% url 'apps.noticias:update_notice' n.id %}" class="eliminar-link">Editar Noticia</a></i>
                        </div>
                        {% endif %}
                    </div>
                
                {% endfor %}
            </div>
               
    </body>

</html>

