{% load static %}
{%include 'navbar.html'%}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DESCRIPCION</title>
    
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    
    <section id="inicio">
        <div class="contenido">
            <div class="info">
                <h3>¿QUIENES SOMOS?</h3>
                <span>MAS QUE UNA WEB DE NOTICIAS!</span>
                <div class="redes">
                    <p>Somos un equipo de 5 entusiastas alumnos del Informatorio Chaco apasionados por el metaverso y las últimas novedades tecnológicas. Nuestra misión es ofrecer a nuestros lectores información actualizada y relevante sobre todo lo relacionado con el metaverso, desde avances en realidad virtual hasta desarrollos en inteligencia artificial aplicados a esta fascinante nueva realidad.</p>
    <p>En "INFOVERSE", buscamos acercar a nuestros lectores las últimas tendencias y descubrimientos en este emocionante mundo virtual que está transformando la manera en que interactuamos, aprendemos y creamos.</p>
    <p>Estamos comprometidos con la precisión y veracidad en nuestras noticias, y trabajamos arduamente para ser una fuente confiable de información para todos aquellos interesados en el metaverso.</p>
    <p>¡Gracias por visitarnos y acompañarnos en este viaje a través del metaverso!</p>
                </div>
            </div>

        </div>
        <div class="contenedor-img">
            <div class="imagen"></div>
        </div>
    </section>

</body>
</html>