{% load static %}
{%include 'navbar.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metaverso</title>

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

</head>
<body>
    
    <div id="particles-js"></div>
    <div class="container_all" id="container__all">
        
        <div class="cover">

            <div class="bg_color"></div>
            <div class="wave w1"></div>
            <div class="wave w2"></div>

            <div class="container__cover">
                <div class="container__info">
                    <h1>NOTICIAS</h1>
                    <h2>METAVERSO</h2>
                    <p>Te imaginas estar en un mundo paralelo donde los humanos interactúan 
                        como avatares? Ahora es real!</p>
                        <br>
                    <a href="{% url 'metaverso' %}" class="select">Leer Más</a>
                </div>
                <div class="container__vector">
                    <img src="{% static 'images/undraw_Code_thinking_re_gka2.svg' %}" alt="">
                </div>
            </div>
        </div>



        

        <!-- Aquí comienza el código -->

        <div class="body__page">

            <div class="container__card">

                <div class="container__card">
                    {% for noticia in noticias_recientes %}
                    <div class="card">
                        <div class="icon">
                            <img src="{% if noticia.imagen %}{{ noticia.imagen.url }}{% else %}{% static 'images/default_image.jpg' %}{% endif %}" alt="">
                        </div>
                        <div class="info__description">
                            <h3>{{ noticia.titulo }}</h3>
                            <p>{{ noticia.descripcion }}</p>
                            <br>
                            <a href="{% url 'apps.noticias:detail' noticia.id %}">VER NOTICIA</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                

            </div>

        </div>
        
        <!--FIN DEL CÓDIGO-->


        

        <Footer>
            <div class="container__footer">

                <div class="box__footer">
                    <div class="logo">
                        <img src="{% static 'Images/logo-infoverse.png' %}" alt="">
                    </div>
                    <div class="terms">
                        <strong> <ul>
                            <li>Antonella Trinidad Almada</li>
                            <li>José Ignacio Bullón</li>
                            <li>José Alfredo Comba</li>
                            <li>Isaías Pérez</li>
                            <li>Rubén Pablo Giordano</li>
                        </ul></strong>
                    </div>
                </div>

               

                <div class="box__footer">
                    <h2>Redes Sociales</h2>
                    <a href="https://www.facebook.com/antito.almada.1?mibextid=ZbWKwL"><i class="fab fa-facebook-square"></i> Facebook</a>
                    <a href="https://instagram.com/jose.bullon"><i class="fab fa-instagram-square"></i> Instagram</a>
                    <a href="http://www.linkedin.com/in/pablo-giordano-227172220"><i class="fab fa-linkedin"></i> Linkedin</a>
                    <a href="https://instagram.com/isa_perez543?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"><i class="fab fa-instagram-square"></i> Instagram</a>
                    <a href="https://www.facebook.com/jose.comba.948?mibextid=ZbWKwL"><i class="fab fa-facebook-square"></i> Facebook</a>
                </div>
            </div>

            <div class="box__copyright">
                <hr>
                <p>© Copyright >>Informatorio 2023 - Comisión 4 - Equipo 1 -<b>INFOVERSE</b></p>
            </div>
        </Footer>

</div>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="{% static 'js/app.js' %}"> </script>
    <script src="{% static 'js/estilos.js' %}"> </script>
</body>
</html>
